<div class="admin-sidebar">
    <div class="sidebar-header">
        <h2>관리자 메뉴</h2>
    </div>
    <div class="sidebar-menu">
        <div class="menu-category">
            <h4>고객 관리</h4>
            <ul>
                <li><a href="{% url 'admin-user-list' %}" class="{% if request.resolver_match.url_name == 'admin-user-list' %}active{% endif %}">회원 목록</a></li>
                <li><a href="#">문의 내역</a></li>
            </ul>
        </div>
        <div class="menu-category">
            <h4>주문/배송 관리</h4>
            <ul>
                <li><a href="{% url 'orders:admin-order-list' %}" class="{% if request.resolver_match.url_name == 'admin-order-list' %}active{% endif %}">주문 목록</a></li>
                        <li><a href="{% url 'orders:admin-shipping-management' %}" class="{% if request.resolver_match.url_name == 'admin-shipping-management' %}active{% endif %}">배송 관리</a></li>
                        <li><a href="{% url 'orders:admin-cancellation-list' %}" class="{% if request.resolver_match.url_name == 'admin-cancellation-list' %}active{% endif %}">취소 관리</a></li>
                        <li><a href="{% url 'orders:admin-exchange-refund-list' %}" class="{% if request.resolver_match.url_name == 'admin-exchange-refund-list' %}active{% endif %}">교환/반품 관리</a></li>
            </ul>
        </div>
        <div class="menu-category">
            <h4>상품 관리</h4>
            <ul>
                <li><a href="{% url 'product-list' %}" class="{% if request.resolver_match.url_name == 'product-list' %}active{% endif %}">상품 목록</a></li>
                <li><a href="{% url 'product-create' %}" class="{% if request.resolver_match.url_name == 'product-create' %}active{% endif %}">상품 등록</a></li>
                <li><a href="{% url 'category-list' %}" class="{% if request.resolver_match.url_name == 'category-list' %}active{% endif %}">상품 카테고리</a></li>
            </ul>
        </div>
        <div class="menu-category">
            <h4>색상/사이즈 관리</h4>
            <ul>
                <li><a href="{% url 'admin-product-color' %}" class="{% if request.resolver_match.url_name == 'admin-product-color' %}active{% endif %}">색상 관리</a></li>
                <li><a href="{% url 'admin-product-size' %}" class="{% if request.resolver_match.url_name == 'admin-product-size' %}active{% endif %}">사이즈 관리</a></li>
            </ul>
        </div>
    </div>
</div>

